body {
    margin: 60px auto;
    width: 70%;
    color: black;
    background-color: white;
    font-family: courier;
}
nav ul, footer ul {
    font-family: courier;
    font-size: 0.9em;
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-decoration: lowercase;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #7fd7ff;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 1.5em;
    font-weight: italics;
}
h3 {
    font-size: 1.3em;
    text-decoration: underline;
}
p {
    font-size: 1.0em;
    line-height: 1.1em;
}
table {
    font-size: 1.0em;
}
ul {
    font-size: 1.0em;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 0.9em;
}

ul.posts { 
    margin: 20px auto 40px;
    font-family: courier; 
    font-size: 1.5em;
}

ul.posts li {
    font-family: courier;
    list-style: none;
}

