<!DOCTYPE html>
	<html>
		<head>
			<title>dana-zimmer</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">home</a></li>
		        	<!-- <li><a href="/about">about</a></li> -->
	        		<li><a href="/cv.pdf">cv</a></li>
	        		<li><a href="/blog">blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:dmzimmer@eng.ucsd.edu">email</a></li>
				<li><a href="https://www.linkedin.com/in/dana-zimmer-9b726b79">linkedin</a></li>
				<li><a href="https://www.researchgate.net/profile/Dana_Zimmer3">research gate</a></li>
                <li><a href="https://github.com/xyzim">github</a></li>
				</ul>
			</footer>
		</body>
	</html>


